@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
  color: #0f172a;
}

.leaflet-container {
  font-family: inherit;
  z-index: 0;
}

.leaflet-tooltip {
  font-size: 12px;
  border-radius: 6px;
}
